<p> <%= link_to 'Create a New Team', "/teams/new" %> </p>
<h1> All Teams Names </h1>
<% @teams.each do |team|%>
 <h3> <%= link_to "#{team.name}", "teams/#{team.id}" %> </h3>
 <p> Created at: <%= team.created_at%> </p>
    <p> <%= button_to "Edit #{team.name}", "/teams/#{team.id}/edit", method: :get %> </p>
    <p> <%= button_to "Delete the #{team.name}", "/teams/#{team.id}", method: :delete %> </p>
<% end %>