<p> <%= link_to 'Create a New Player for this Team', "/teams/#{@team.id}/players/new" %> </p>
<p> <%= link_to 'Order the Players Names Alphabetically', "/teams/#{@team.id}/players?alphabetical=true" %> </p>
<h1> <%= @team.name %> Roster: </h1>
<% @team_players.each do |player|%>
  <h3> <%= player.name %> </h3>
  <p> <%= player.age %> </p>
  <p> <%= player.healthy %> </p>
<% end %>
