<h1> <%= @team.name %> </h1>
<h3> Champions: <%= @team.champions %> </h3>
<h3> Number of Wins: <%= @team.wins %> </h3>
<h3> Number of Players: <%= @team.count_players %> </h3>
<h3> Click on this link to see the full <%= link_to 'roster', "/teams/#{@team.id}/players" %> for this team. </h3>
<h3> Link to Update the <%= link_to "#{@team.name}", "/teams/#{@team.id}/edit" %> </h3>
<h3> Click on this link to <%= link_to "Delete the #{@team.name}", "/teams/#{@team.id}", method: :delete %> for this team. </h3>