<%= form_with url: "/players/#{@player.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <p> <%= form.text_field :name %> </p>
  <%= form.label :age %>
  <p> <%= form.number_field :age %> </p>
  <%= form.label :healthy %>
  <p> <%= form.label :healthy, "true", :value => "true" %> 
  <%= form.radio_button :healthy, true %> 
  <%= form.label :healthy, "false", :value => "false" %> 
  <%= form.radio_button :healthy, false %> </p>

  <%= form.submit "Update Player" %>
<% end %>