<%= link_to "Create New Disc", "/discs/new" %>

<h1>Disc Manufacturer</h1>
<h2>Discs:</h2>
<% @discs.each do |disc| %>
<h3><%= disc.name %></h3>
<p>Speed: <%= disc.speed %></p>
<p>In Production: <%= disc.in_production %></p>
<p>Created At:<%= disc.created_at %> </p>
<p>Updated At:<%= disc.updated_at %> </p>

<% end %>

<%# <%= link_to "Sort Discs by Name", "/discs_manufacturers/#{@discs_manufacturer.id}/discs/sort" %>

<%= link_to "Sort Discs in Alphabetical Order by Name", sort: "name_asc" %>
