<a href="/discs_manufacturers">DiscsManufacturer Index</a> </br>
<a href="/discs">Disc Index</a>

<section id="dm-<%= @discs_manufacturer.id %>">
<h1><%= @discs_manufacturer.name %></h1>
<p>Location:<%= @discs_manufacturer.location %></p>
<p>International: <%= @discs_manufacturer.international %></p>
<p>Variety of Discs: <%= @discs_manufacturer.variety_of_discs %></p>
<p>Created At: <%= @discs_manufacturer.created_at %></p>
<p>Updated At: <%= @discs_manufacturer.updated_at %></p>
<p> Disc Count: <%= @discs_manufacturer.disc_count %> </p> </br></br>
</section>



<a href="/discs_manufacturers/<%= @discs_manufacturer.id %>/edit">Edit</a>
