<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <h3> <%= link_to "Player's Index", players_path %> </h3>
  <h3> <%= link_to "Team's Index", teams_path %> </h3>
    <%= yield %>
  </body>
</html>
